<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title></title>
        <link href="back/css/icheck_skins/all.css" rel="stylesheet" />
        <link rel="stylesheet" href="back/css/bootstrap-fileupload.css" />
        <link rel="stylesheet" href="back/css/tabs.css" />
        <link rel="stylesheet" href="back/css/layout.css" />
        <link rel="stylesheet" href="back/css/bootstrap.css" />
        <link rel="stylesheet" href="back/css/table.css"  />
        <link rel="stylesheet" href="back/css/font-awesome.css" />
	</head>

    <style>
        .item_content ul {
            list-style: none;
        }

            .item_content ul li {
                width: 370px;
                height: 430px;
                float: left;
                margin-right: 30px;
            }
    </style>
	<body>
        <ul class="tabs" style="background-color: #faf3f3">
            <li class="tab_item page_profile current">
                <a href="aboutUsEdit?type=profile">公司简介</a>
            </li>
            <li class="tab_item page_planning">
                <a href="aboutUsEdit?type=planning">发展规划</a>
            </li>
        </ul>
        <div class="tabs_content" style="">
            <div id="tab2" style="display: block; ">
                <div class="item_container" style="">
                    <div class="item_content" style="overflow: auto; padding: 0px;">
                        <form th:action="@{/aboutUsSave}" method="post" enctype="multipart/form-data" novalidate="novalidate" style="">
                            <fieldset style="">
                                <legend></legend>
                                <input type="hidden" name="type" th:value="${aboutUs.type}">
                                <div class="control-group">
                                    <!-- Text input-->
                                    <label class="control-label" for="content">文章内容</label>
                                    <div class="controls">
                                        <textarea id="content" name="content" th:text="${aboutUs.content}" cols="20" data-val="true" data-val-required="文章内容" rows="2" style="width:800px;height:300px;"></textarea>
                                    </div>
                                </div>

                                <div class="control-group" id="machine" style="margin-top: 30px; margin-bottom: 20px; width: 800px; display: none; overflow: auto; margin-left: 30px;">
                                    <div style="float: left; width: 180px; margin-bottom: 18px; overflow: auto;">
                                        <div style="float: left; margin-right: 5px;">
                                            <div class="icheckbox_flat-blue checked" style="position: relative;"><input type="checkbox" checked="checked" class="chk1" value="1" name="machineId" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                        </div>
                                        <label></label>
                                    </div>
                                </div>
                                <div style="clear: both; margin-top: 30px;">
                                    <input type="submit" value="提交" class="btn btn-primary">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="back/js/jquery-1.8.3.min.js"></script>
            <script src="back/js/bootstrap/bootstrap-fileupload.js"></script>
            <script type="text/javascript" charset="utf-8" src="back/js/kindeditor.js"></script>
              <script type="text/javascript">
                KE.show({
                    id : 'content',
                    resizeMode : 1,
                    cssPath : '.back/index.css',
                    items : [
                    'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
                    'removeformat', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', 'emoticons', 'image', 'link']
                });
              </script>
            <script th:inline="javascript">
                debugger
                var type = [[${aboutUs.getType()}]];
                var tabs = document.getElementsByClassName("tab_item");
                for(i=0,size = tabs.size();i<size;i++) {
                    tabs[i].classList.remove("current");
                    if(tabs[i].hasClass("page_"+type)){
                        tabs[i].classList.add("current");
                    }
                }
            </script>
    </div>
    </body>

</html>