<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>活动中心</title>
    <link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
    <script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="front/js/js_z.js"></script>
    <link rel="stylesheet" type="text/css" href="front/css/thems.css">
    <link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="news clearfix">
    	<div class="news_l">
        	<div class="scd_top">
                <span>置顶活动</span>
                <div class="pst">
                    当前位置：<a href="index">首页</a>-<a href="">活动中心</a>
                </div>
            </div>
            <div class="new_m">
            	<div class="box mainPhoto">
                    <!--上一页-->
                    <span class="goleft nextPage">
                        <a href="javascript:void(0)">
                            <img src="front/images/prev.png"/>
                        </a>
                    </span>
                  <div class="go slidegrid">
                    <ul class="slideitems">
                      <li>
                      	<div class="tu"><a th:name="${activityTop.id}" href="javascript:void(0)" onclick="activityDetail(this)"> <img th:src="${activityTop.imageUrl}"></a></div>
                        <div class="n_m">
                            <div class="title">
                                <span th:text="${#dates.format(activityTop.createTime, 'yyyy-MM-dd')}"></span>
                                <p class="name"><a th:text="${activityTop.title}" th:name="${activityTop.id}" href="javascript:void(0)" onclick="activityDetail(this)"></a></p>
                            </div>
                            <div th:text="${activityTop.content}" class="des" >
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!--下一页-->
                  <span class="goright prevPage">
                      <a href="javascript:void(0)">
                          <img src="front/images/next.png" />
                      </a>
                  </span>
                </div>
                <script>
                    $(function(){
                        $('.mainPhoto .slidegrid').scrollable({size:1,circular:true,next:'.nextPage',prev:'.prevPage'}).autoscroll();
                    });
                </script> 
            	<!--<div class="n_m" style="display: none">-->
                    <!--<div class="title">-->
                        <!--<span th:text="${#dates.format(activityTop.createTime, 'yyyy-MM-dd')}"></span>-->
                        <!--<p class="name"><a th:text="${activityTop.title}" th:name="${activityTop.id}" href="javascript:void(0)" onclick="activityDetail(this)"></a></p>-->
                    <!--</div>-->
                    <!--<div th:text="${activityTop.content}" class="des" >-->
                        <!--&lt;!&ndash;头条活动长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条活动长安乌沙大酒啦九月的深圳秋深圳會展中心順利舉辦条活动长安乌沙大酒店开始...&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="news_r">
        	<div class="scd_top">
                <span>全部活动</span>
            </div>
            <div th:each="activity,activityState:${activityList}" class="new_m">
                <div class="n_m">
                    <div class="title">
                        <span th:text="${#dates.format(activity.createTime, 'yyyy-MM-dd')}"></span>
                        <p class="name"><a th:text="${activity.title}" th:name="${activity.id}" href="javascript:void(0)" onclick="activityDetail(this)"></a></p>
                    </div>
                    <div th:text="${activity.content}" class="des" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="pages">
    	<a href="activity">首页</a>
        <a href="javascript:void(0)"  onclick="prePage()">上一页</a>
        <a href="javascript:void(0)"  onclick="nextPage()">下一页</a>
        <a href="javascript:void(0)"  onclick="lastPage()">尾页</a>
    </div>
</div>
<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
<script type="text/javascript">
    function activityDetail(obj) {
        var url = "activityDetail?id="+obj.name
        window.location.href= url ;
    }
    function prePage() {
        var pageNum = [[${pageNum}]];
        if(pageNum>=1) {
            pageNum -= 1;
        }
        window.location.href= "activity?pageNum="+pageNum;
    }
    function nextPage() {
        var pageNum = [[${pageNum}]];
        var totalPages = [[${totalPages}]];
        if(pageNum<totalPages) {
            pageNum += 1;
        }
        window.location.href= "activity?pageNum="+pageNum;
    }
    function lastPage() {
        var totalPages = [[${totalPages}]];
        window.location.href= "activity?pageNum="+totalPages;
    }
</script>
</body>
</html>
