<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>公司名称</title>
    <link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
    <script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="front/js/js_z.js"></script>
    <link rel="stylesheet" type="text/css" href="front/css/thems.css">
    <link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="news clearfix">
    	<div class="news_l">
        	<div class="scd_top">
                <span>头条新闻</span>
                <div class="pst">
                    当前位置：<a href="">首页</a>-<a href="">新闻中心</a>
                </div>
            </div>
            <div class="new_m">
            	<div class="box mainPhoto"> <span class="goleft nextPage"><a href="javascript:void(0)"><img src="front/images/prev.png"/></a></span>
                  <div class="go slidegrid">
                    <ul class="slideitems">
                      <li>
                      	<div class="tu"><a href="news_d"><img src="front/upload/pic7.jpg" alt=""/></a></div>
                        <div class="n_m">
                            <div class="title">
                                <span>2015-1-11</span>
                                <p class="name"><a href="news_d">头条新闻长安乌沙大酒店开始啦</a></p>
                            </div>
                            <div class="des">
                                头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安店开始...
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <span class="goright prevPage"><a href="javascript:void(0)"><img src="front/images/next.png" /></a></span> </div>
                <script>
                    $(function(){
                        $('.mainPhoto .slidegrid').scrollable({size:1,circular:true,next:'.nextPage',prev:'.prevPage'}).autoscroll();
                    });
                </script> 
            	<div class="n_m" style="display: none">
                    <div class="title">
                        <span>2015-1-11</span>
                        <p class="name"><a href="news_d">头条新闻长安乌沙大酒店开始啦</a></p>
                    </div>
                    <div class="des">
                        头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒店开始...
                    </div>
                </div>
            </div>
        </div>
        <div class="news_r">
        	<div class="scd_top">
                <span>全部新闻</span>
            </div>
            <div th:each="news,newsState:${newsList}" class="new_m">
                <div class="n_m">
                    <div class="title">
                        <span th:text="${news.createTime}"></span>
                        <p class="name"><a th:text="${news.title}" th:name="${news.id}" href="javascript:void(0)" onclick="newsDetail(this)"></a></p>
                    </div>
                    <div th:text="${news.content}" class="des" >
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                function newsDetail(obj) {
                    var url = "newsDetail?id="+obj.name
                    window.location.href= url ;
                }
            </script>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="pages">
    	<a href="">首页</a>
        <a href="">上一页</a>
        <a href="">下一页</a>
        <a href="">尾页</a>
    </div>
</div>
<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
</body>
</html>
