<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
        <script type="text/javascript" src="back/js/jquery-1.8.3.min.js"></script>
        <link href="back/css/icheck_skins/all.css" rel="stylesheet" />
        <link rel="stylesheet" href="back/css/bootstrap-fileupload.css" />
        <link rel="stylesheet" href="back/css/tabs.css" />
        <link rel="stylesheet" href="back/css/layout.css" />
        <link rel="stylesheet" href="back/css/bootstrap.css" />
        <link rel="stylesheet" href="back/css/table.css"  />
        <link rel="stylesheet" href="back/css/font-awesome.css" />
	</head>
    <style>
        .item_content ul {
            list-style: none;
        }

            .item_content ul li {
                width: 370px;
                height: 430px;
                float: left;
                margin-right: 30px;
            }
    </style>

	<body>
        <div class="tabs_content" style="">
            <div id="tab2" style="display: block; ">
                <div class="item_container" style="">
                    <div class="item_content" style="overflow: auto; padding: 0px;">
                        <form th:action="@{/cameraSave}" method="post" enctype="multipart/form-data" novalidate="novalidate">
                            <fieldset style="">
                                <legend></legend>
                                <div class="control-group">
                                    <!-- Text input-->

                                    <label class="control-label">视频类型*</label>
                                    <div class="controls">
                                        <select class="input-xlarge" data-val="true" id="cameraType" name="cameraType" placeholder="视频类型不能为空" autocomplete="Off">
                                            <option value ="community">社区</option>
                                            <option value ="home">居家</option>
                                            <option value="nursingHome">机构</option>
                                        </select>
                                    </div>

                                    <label class="control-label">服务点名称*</label>
                                    <div class="controls">
                                        <input id="placeName" name="placeName" class="input-xlarge" data-val="true" data-val-required="服务点名称不能为空" placeholder="服务点名称" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>

                                    <label class="control-label">服务点等级*</label>
                                    <div class="controls">
                                        <input id="placeLevel" name="placeLevel" class="input-xlarge" data-val="true" data-val-required="服务点等级不能为空" placeholder="服务点等级" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">联系人*</label>
                                    <div class="controls">
                                        <input id="contectsName" name="contectsName" class="input-xlarge" data-val="true" data-val-required="联系人不能为空" placeholder="联系人" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">联系电话*</label>
                                    <div class="controls">
                                        <input id="contectsPhone" name="contectsPhone" class="input-xlarge" data-val="true" data-val-required="联系电话不能为空" placeholder="联系电话" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">序列号</label>
                                    <div class="controls">
                                        <input id="cameraSerialNum" name="cameraSerialNum" class="input-xlarge" data-val="true" data-val-required="序列号不能为空" placeholder="序列号" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">验证码</label>
                                    <div class="controls">
                                        <input id="cameraValidateCode" name="cameraValidateCode" class="input-xlarge" data-val="true" data-val-required="验证码不能为空" placeholder="验证码" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">摄像头编号</label>
                                    <div class="controls">
                                        <input id="cameraNum" name="cameraNum" class="input-xlarge" data-val="true" data-val-required="摄像头编号不能为空" placeholder="摄像头编号" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">管理页账号</label>
                                    <div class="controls">
                                        <input id="cameraAccount" name="cameraAccount" class="input-xlarge" data-val="true" data-val-required="管理页账号不能为空" placeholder="管理页账号" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">管理页密码</label>
                                    <div class="controls">
                                        <input id="cameraPassword" name="cameraPassword" class="input-xlarge" data-val="true" data-val-required="管理页密码不能为空" placeholder="管理页密码" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">appKey</label>
                                    <div class="controls">
                                        <input id="appKey" name="appKey" class="input-xlarge" data-val="true" data-val-required="AppKey不能为空" placeholder="AppKey" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">secret</label>
                                    <div class="controls">
                                        <input id="secret" name="secret" class="input-xlarge" data-val="true" data-val-required="Secret不能为空" placeholder="Secret" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <label class="control-label">accessToken</label>
                                    <div class="controls">
                                        <input id="accessToken" name="accessToken" class="input-xlarge" data-val="true" data-val-required="AccessToken不能为空" placeholder="AccessToken" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                    <!--<label class="control-label">高清直播地址</label>-->
                                    <!--<div class="controls">-->
                                        <!--<input id="hdLiveAddress" name="hdLiveAddress" class="input-xlarge" data-val="true" data-val-required="高清直播地址不能为空" placeholder="高清直播地址" type="text" autocomplete="Off">-->
                                        <!--<span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>-->
                                    <!--</div>-->
                                    <label class="control-label">标清直播地址</label>
                                    <div class="controls">
                                        <input id="liveAddresse " name="liveAddress" class="input-xlarge" data-val="true" data-val-required="标清直播地址不能为空" placeholder="标清直播地址" type="text" autocomplete="Off">
                                        <span class="field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div style="clear: both; margin-top: 30px;">
                                    <input type="submit" value="提交" class="btn btn-primary">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>