<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>公司名称</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
<script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="front/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="front/css/thems.css">
<link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div class="header">
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="front/images/logo.png" alt="公司名称"/></a></div>
        <div class="head_r clearfix">
        	<div class="search">
                <input name="" type="text">
                <input name="" type="submit" value="">
            </div>
            <div class="nav_m">
            <div class="n_icon">导航栏</div>
            <ul class="nav clearfix">
                <li><a href="index.html">首页</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li class="now"><a href="news.html">新闻中心</a></li>
                <li class="er"><a href="service.html">核心业务</a></li>
                <li><a href="join.html">合作伙伴</a></li>
                <li><a href="customer.html">客户中心</a></li>
                <li><a href="attrct.html">招商中心</a></li>
                <li><a href="invite.html">加入我们</a></li>
                <li><a href="">论坛社区</a></li>
            </ul>
            <div class="er_m">
                <div class="hx">
                	<i>&nbsp;</i>
                	<div class="b_head">
                    	核心业务<em>Core business</em>
                    </div>
                    <div class="hx_m clearfix">
                    	<ul class="hx_ml">
                        	<li><a href="">孵化器</a></li>
                            <li><a href="">智造联盟</a></li>
                            <li><a href="">创客公寓</a></li>
                            <li><a href="">商业街</a></li>
                            <li><a href="">商务办公</a></li>
                            <li><a href="">电子商务</a></li>
                        </ul>
                        <div class="hx_mr"><img src="front/upload/pic3.jpg" alt=""/></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>联系我们</span>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">新闻中心</a>
        </div>
    </div>
    <div class="scd_m clearfix">
    	<div class="scd_ml" style="width: 100%">
        	<h1></h1>
            <div class="time">
            	<span>2018-06-17</span>
                <span>来源：南京恒宇社会工作服务中心 </span>
                <span>浏览次数  205</span>
                <div class="font">
                	<span>字体大小：</span>
                    <em class="on f_14">14px</em>
                    <em class="f_16">16px</em>
                    <em class="f_18">18px</em>
                </div>
            </div>
            <div class="ctn">
                <!--正文-->
                <div class="ctn_m">
                    <p>机构名称：<span th:text="${contectUs.companyName}"></span></p>
                	<p>机构地址：<span th:text="${contectUs.companyAddress}"></span></p>
                	<p>机构电话：<span th:text="${contectUs.companyPhone}"></span></p>
                	<p>联系人电话：<span th:text="${contectUs.peoplePhone}"></span></p>
                    <br/>
                    <div style="text-align:center"><img src="front/upload/pic6.jpg" width="540" height="295" alt=""/></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fn_bg">
	<ul class="f_nav clearfix">
    	<li>
        	<a href="">
            	<img src="front/images/f_1.png" alt=""/>
                <span>联系我们</span>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="front/images/f_2.png" alt=""/>
                <span>社区论坛</span>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="front/images/f_3.png" alt=""/>
                <span>在线客服</span>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="front/images/f_4.png" alt=""/>
                <span>关注我们</span>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="front/images/f_5.png" alt=""/>
                <span>一键分享</span>
            </a>
        </li>
    </ul>
</div>
<div class="bq">Copyright © 1998 - 2015   公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></div>
</body>
</html>
