<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>公司名称</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
<script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="front/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="front/css/thems.css">
<link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>联系我们</span>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">新闻中心</a>
        </div>
    </div>
    <div class="scd_m clearfix">
    	<div class="scd_ml" style="width: 100%">
        	<h1></h1>
            <div class="time">
            	<span>2018-06-17</span>
                <span>来源：南京恒宇社会工作服务中心 </span>
                <span>浏览次数  205</span>
                <div class="font">
                	<span>字体大小：</span>
                    <em class="on f_14">14px</em>
                    <em class="f_16">16px</em>
                    <em class="f_18">18px</em>
                </div>
            </div>
            <div class="ctn">
                <!--正文-->
                <div class="ctn_m">
                    <p>机构名称：<span th:text="${contectUs.companyName}"></span></p>
                	<p>机构地址：<span th:text="${contectUs.companyAddress}"></span></p>
                	<p>机构电话：<span th:text="${contectUs.companyPhone}"></span></p>
                	<p>联系人电话：<span th:text="${contectUs.peoplePhone}"></span></p>
                    <br/>
                    <div style="text-align:center"><img src="front/upload/pic6.jpg" width="540" height="295" alt=""/></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
</body>
</html>
