<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>公司名称</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
<script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="front/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="front/css/thems.css">
<link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<div class="banner banner_s"><img src="front/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<div class="s_nav">
        	<a href=""><span>物业管理</span></a>
            <a href="" class="active"><span>投诉及建议</span></a>
            <a href=""><span>园区公告</span></a>
            <a href=""><span>客户会</span></a>
        </div>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">加入我们</a>
        </div>
    </div>
    <div class="join clearfix">
    	<ul class="book">
        	<li class="clearfix">
            	<p>尊敬的客户，您的意见和建议是我们的宝贵财富，如果您有想对我们说的话，请在下方表格填写。</p>
            </li>
            <li class="clearfix">
            	<span class="title">所在城市：</span>
                <div class="li_r">
                	<input name="" type="text">
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">您的姓名：</span>
                <div class="li_r">
                	<input name="" type="text">
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">您的电话：</span>
                <div class="li_r">
                	<input name="" type="text">
                    <p>为方便我们给您回复，请正确填写您的电话。例如:020-286***0或者手机号</p>
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">电子邮箱：</span>
                <div class="li_r">
                	<input name="" type="text" class="chang">
                    <p>为方便我们给您回复，请正确填写您的邮箱地址。例如：12@163.com</p>
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">&nbsp;</span>
                <div class="li_r">
                	<textarea name="" cols="" rows="7" class="chang"></textarea>
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">&nbsp;</span>
                <div class="li_r">
                	<input name="" type="submit" value="提交">
                </div>
            </li>
        </ul>
    </div>
</div>
<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
</body>
</html>
