<!--<style>-->
    <!--#footer {-->
        <!--position: absolute;-->
        <!--bottom: 0px;-->
        <!--width: 100%;-->
    <!--}-->
<!--</style>-->
<div id="footer">
    <div class="fn_bg">
        <ul class="f_nav clearfix">
            <li>
                <a href="">
                    <img src="front/images/f_1.png" alt=""/>
                    <span>联系我们</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="front/images/f_2.png" alt=""/>
                    <span>社区论坛</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="front/images/f_3.png" alt=""/>
                    <span>在线客服</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="front/images/f_4.png" alt=""/>
                    <span>关注我们</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="front/images/f_5.png" alt=""/>
                    <span>一键分享</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="bq">技术支持：南京水月技术团队</a></div>
</div>