<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>恒宇智慧社区</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
<script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="front/js/js_z.js"></script>
<script type="text/javascript" src="front/js/banner.js"></script>
<link rel="stylesheet" type="text/css" href="front/css/thems.css">
<link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<!--幻灯片-->
<div id="banner" class="banner"> 
    <div id="owl-demo" class="owl-carousel"> 
        <a class="item" target="_blank" href="" style="background-image:url(u=598748841,4035177000&fm=214&gp=0.jpg)">
            <img src="u=598748841,4035177000&fm=214&gp=0.jpg" alt="">
        </a>
        <a class="item" target="_blank" href="" style="background-image:url(140426829953b36f0b35787.jpg)">
            <img src="140426829953b36f0b35787.jpg" alt="">
        </a>
        <a class="item" target="_blank" href="" style="background-image:url(front/upload/banner.jpg)">
            <img src="front/upload/banner.jpg" alt="">
        </a>
    </div>
</div>
<!--幻灯片-->
<div class="space_hx">&nbsp;</div>
<div class="i_ma">
	<div class="i_name">
    	我们的产业
        <p>QIHui Our industry</p>
    </div>
    <div class="space_hx">&nbsp;</div>
    <ul class="clearfix">
        <li>
            <a href="http://61.153.190.75:8081/WorkManage" target="_blank">
                <img src="front/images/p5.png" alt=""/>
                <h6>溧水智慧养老平台</h6>
                <div class="des">
                    The elderly service platform
                </div>
            </a>
        </li>
        <li>
            <a href="http://www.njls.gov.cn/xwzx/" target="_blank">
                <img src="front/images/p2.png" alt=""/>
                <h6>南京溧水区政府网站</h6>
                <div class="des">
                    The government website for LiShui
                </div>
            </a>
        </li>
        <li>
        	<a href="http://njs.jsvolunteer.org/" target="_blank">
            	<img src="front/images/p1.png" alt=""/>
                <h6>南京市志愿平台</h6>
                <div class="des">
                	One Stop Civil Affairs Management
                </div>
            </a>
        </li>
        <li>
        	<a href="http://61.153.190.75:8081/WorkManage/jsp/serviceCompanyInfo/tserviceCompanyInfoInitEditjgzc.action?flag=add" target="_blank">
            	<img src="front/images/p3.png" alt=""/>
                <h6>社区注册入口</h6>
                <div class="des">
                	Business incubator
                </div>
            </a>
        </li>
        <li>
        	<a href="" target="_blank">
            	<img src="front/images/p4.png" alt=""/>
                <h6>智慧俱乐部</h6>
                <div class="des">
                	Wisdom Made Club
                </div>
            </a>
        </li>
        <li>
        	<a href="https://j.map.baidu.com/m8bXP" target="_blank">
            	<img src="front/images/p6.png" alt=""/>
                <h6>溧水地图（百度）</h6>
                <div class="des">
                    LiShui map
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="space_hx">&nbsp;</div>
<div class="i_mb clearfix">
	<div class="i_mbl">
    	<div class="b_head">
        	<span><a href="news">新闻中心</a></span>News Center
        </div>
        <ul>
            <!--显示前五条新闻-->
        	<li>
            	<a href="">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>再获深房</p>
                    <em>2015-10-25</em>
                </a>
            </li>
        </ul>
    </div>
    <div class="i_mbr">
    	<div class="b_head"><span>宣传视频</span>Video</div>
    	<div class="tabBox_t">
            <div class="tabBox">
              <ul class="tabNav">
                <li class="now">集团宣传</li>
                <li>项目宣传</li>
              </ul>
              <div class="tabCont" style="display:block;">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="front/upload/pic2.jpg" alt=""/>
                            <span class="play-btn"><img src="front/images/icon6.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="front/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
              </div>
              <div class="tabCont">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="front/upload/pic2.jpg" alt=""/>
                            <span class="play-btn"><img src="front/images/icon6.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="front/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <!--企业服务-->
    <div class="i_mbc">
    	<div class="i_mbc1">
        	<dl class="clearfix">
            	<dt>
                	<b>企业服务</b>
                    Enterprise services
                </dt>
                <dd>
                	<div class="m_search">
                    	<input name="" type="text">
                        <input name="" type="submit" value="">
                    </div>
                </dd>
            </dl>
            <div class="sq"><a href="">服务申请</a></div>
        </div>
        <ul class="clearfix">
        	<li>
            	<a href="">
                	<img src="front/images/f1.png" alt=""/>
                    <span>金融服务</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="front/images/f2.png" alt=""/>
                    <span>项目申报</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="front/images/f3.png" alt=""/>
                    <span>企业认定</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="front/images/f4.png" alt=""/>
                    <span>人才服务</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="front/images/f5.png" alt=""/>
                    <span>人力资源</span>
                </a>
            </li>
            <li>&nbsp;</li>
        </ul>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<!--友情链接-->
<div class="friend">
	<div class="b_head"><span>友情链接</span></div>
    <div class="frd_m">
    	<a href="">百度</a>
        <a href="">阿里巴巴</a>
        <a href="">QQ</a>
        <a href="">网易</a>
        <a href="">新浪</a>
    </div>
</div>

<script language="javascript">
    $(function(){
        $('#owl-demo').owlCarousel({
            items: 1,
            navigation: true,
            navigationText: ["上一个","下一个"],
            autoPlay: true,
            stopOnHover: true
        }).hover(function(){
            $('.owl-buttons').show();
        }, function(){
            $('.owl-buttons').hide();
        });
    });
</script>
<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
</body>
</html>
