<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>公司名称</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
<script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="front/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="front/css/thems.css">
<link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<div class="banner banner_s"><img src="front/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>商业街</span>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">关于我们</a>
        </div>
    </div>
    <div class="join clearfix">
    	<dl class="join_a clearfix">
        	<dt>
            	<div class="title">酒店投资——与国际顶级四季酒店、法国雅高战略合作</div>
                <div class="des">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>定位及建设目标：包括区域城市现状及趋势分析、服务中心改造定位、服务中心建设目标</p>
                    <p>服务中心运营体系：包括服务中心平台架构、服务中心品牌体系两个方面</p>
                    <p>服务中心服务平台：包括基础硬件升级改造、服务平台落地、项目工作推进规划</p>
                </div>
            </dt>
            <dd>
            	<a href=""><span>项目展示</span></a>
                <a href=""><span>合作商家</span></a>
                <a href=""><span>客户服务</span></a>
            </dd>
        </dl>
        <div class="space_hx">&nbsp;</div>
        <div class="join_c clearfix">
        	<a href="">
            	<img src="front/images/icon9.png" alt=""/>
                <span>商家服务</span>
            </a>
            <a href="">
            	<img src="front/images/icon10.png" alt=""/>
                <span>买家服务</span>
            </a>
        </div>
    </div>
</div>
<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
</body>
</html>
