<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>公司名称</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
<script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="front/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="front/css/thems.css">
<link rel="stylesheet" type="text/css" href="front/css/responsive.css">


    <link href="back/css/icheck_skins/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="back/css/bootstrap-fileupload.css" />
    <link rel="stylesheet" href="back/css/tabs.css" />
    <link rel="stylesheet" href="back/css/bootstrap.css" />
    <link rel="stylesheet" href="back/css/table.css"  />
    <link rel="stylesheet" href="back/css/font-awesome.css" />
</head>
<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<div class="banner banner_s"><img src="front/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>


<div class="scd clearfix">
    <div class="scd_top">
        <div class="s_nav">
            <a href="javascript:void(0)" class="active"><span>服务内容</span></a>
            <a href="javascript:void(0)"><span>服务机构</span></a>
            <a href="javascript:void(0)"><span>合作社区</span></a>
        </div>
        <div class="pst">
            当前位置：<a href="index">首页</a>-<a href="service">核心业务</a>
        </div>
    </div>
    <div class="join clearfix">
        <dl class="join_a clearfix">
            <dd>
                <a th:each="category,state:${categoryList}" th:name="${state.index}" href="javascript:void(0)" onclick="changeItems(this)">
                    <span th:text="${category.categoryName}"></span>
                </a>
            </dd>
        </dl>
        <div class="space_hx">&nbsp;</div>
        <table id="tbRecord">
            <!--表格标题-->
            <thead>
            <tr>
                <th>服务名称</th>
                <th>描述</th>
                <th>参考价格</th>
                <th>计费方式</th>
                <!--<th>常规服务时长（小时）</th>-->
                <th>预约</th>
            </tr>
            </thead>
            <!--表格内容-->
            <tbody>
            <tr th:each="item,state:${itemList}">
                <input type="hidden" th:value="${item.itemId}"/>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.remark}">一般家务，实际收费及工作内容视情况而定。</td>
                <td th:text="${item.price}+'元'" style="text-align: center;">元</td>
                <td th:switch="${item.feeKind}" style="text-align: center;">
                    <span th:case="001">次</span>
                    <span th:case="002">小时</span>
                    <span th:case="003">平方</span>
                </td>

                <td class="td_column_delete" id="td_column_delete_1" align="center" style="cursor:pointer;">
                    <form th:action="@{/activityDelete}" method="post">
                        <input  type="hidden" th:value="${item}"  name="id">
                        <button  type="submit" class="btn btn-success"> <!--改成submit即可-->
                            预约
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script th:inline="javascript">
    function changeItems(obj) {
        var itemIndex = obj.name;
        window.location.href = "service?categoryIndex=" + itemIndex;
    }
</script>

<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
</body>
</html>
