<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>公司名称</title>
<link rel="stylesheet" type="text/css" href="front/css/reset.css"/>
<script type="text/javascript" src="front/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="front/js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="front/css/thems.css">
<link rel="stylesheet" type="text/css" href="front/css/responsive.css">
</head>

<body>
<!--头部-->
<div th:include="front/header" ></div>
<!--头部-->
<div class="banner banner_s"><img src="front/upload/banner_a.jpg" alt=""/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<div class="s_nav">
        	<a href="" class="active"><span>政府机构</span></a>
            <a href=""><span>研究机构</span></a>
            <a href=""><span>合作企业</span></a>
            <a href=""><span>金融机构</span></a>
            <a href=""><span>合作大学</span></a>
        </div>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">关于我们</a>
        </div>
    </div>
    <div class="join clearfix">
    	<dl class="join_a clearfix">
            <dd>
            	<a th:each="category,state:${categoryList}" href="">
                    <span th:text="${category}"></span>
                </a>
            </dd>
        </dl>
        <div class="space_hx">&nbsp;</div>
        <ul class="join_b clearfix">
        	<li th:each="item,state:${itemList.get(4)}">
                <a th:value="${item}" href="">
                    <!--<img src="front/upload/pic9.jpg" alt=""/>-->
                </a>
            </li>
        </ul>
    </div>
</div>
<!--底部-->
<div th:include="front/footer" ></div>
<!--底部-->
</body>
</html>
